extends layout

block content
  h1 Title: #{book.title}
  hr
  p #[strong Author:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong Series:] #{book.series}
  hr
  p
    a(href=book.url+'/delete') Delete Book
  p
    a(href=book.url+'/update') Update Book